/* Caution! This theme only works for dark theme. It will not work properly at light theme. */

body {
    -webkit-transition: background 3s ease-in-out;
    transition: background 3s ease-in-out;

    /* Background was made by PussyCat#6202*/
    background: #fff url(https://img95.pixhost.to/images/13/460968896_space1.png);

    /* Just in case adjusting the position is necessary (x% y%)*/
    background-position: 50% 0;

    /* If the background picture is blurry, please use a bigger sized background picture. */
    background-size: contain;
}

.appMount_c99875
{
    /* You can adjust the background brightness by reducing the fourth value of below.
       0.0 for no dark background, 1.0 for full darkness.

       Or, you can change the other values for tint and so.
       1st value - Red 0-255
       2nd value - Green 0-255
       3rd value - Blue 0-255
       4th value - Alpha (Opacity) 0.0-1.0 */
    background: rgba(0, 0, 15, 0.25);
    transition: background 0.5s ease-in-out;
}

:root {
	-1-primary-400: rgba(0, 0, 0, 0.5);
	--primary-500: rgba(0, 0, 0, 0);
    --primary-500-hsl: 0 calc(var(--saturation-factor, 1) * 0%) 1%;
	--primary-530: rgba(0, 0, 0, 0);
	--primary-600: rgba(0, 0, 0, 0);
	--primary-600-hsl: 0 calc(var(--saturation-factor, 1) * 0%) 1%;
	--primary-660: rgba(0, 0, 0, 0.5);
	--primary-630: rgba(0, 0, 0, 0);
	--primary-700: rgba(0, 0, 0, 0);
	--primary-700-hsl: 0 calc(var(--saturation-factor, 1) * 0%) 1%;
	--primary-800: rgba(0, 0, 0, 0.75);
	--red-400: rgba(100, 110, 255, 1);
	--green-360: rgba(100, 110, 255, 1);
}

.theme-dark {
	--scrollbar-thin-thumb: rgba(0, 0, 0, 0.75);
	--scrollbar-auto-thumb: rgba(0, 0, 0, 0.75);
	--scrollbar-auto-track: rgba(0, 0, 0, 0);
	--background-mentioned: hsl(var(--brand-500-hsl) / 0.15);
	--background-mentioned-hover: hsl(var(--brand-500-hsl) / 0.3);
	--__spoiler-background-color--hidden: rgba(0, 0, 0, .5);
	--__spoiler-background-color--revealed: rgba(0, 0, 0, .5);
	--modal-background: rgba(0, 0, 0, .75);
	--modal-footer-background: rgba(0, 0, 0, .5);
	--button-secondary-background-hover: hsl(var(--brand-500-hsl) / 0.8);
	--input-background: rgba(0, 0, 0, .75);
	--background-modifier-accent: rgba(0, 0, 0, 0);
	--background-modifier-selected: rgba(0, 0, 0, .75);
	--status-speaking: rgba(100, 110, 255, 1);
	--channels-default: rgba(255, 255, 255, .5);
	--channeltextarea-background: rgba(0, 0, 0, 0.75);
}


/* side panel background fixes */
.privateChannels__93473 {
	background: rgba(0, 0, 0, 0);
}

.sidebar_ded4b5 {
	background: rgba(0, 0, 0, 0);
}

.theme-dark .scroller__4b984 {
	background: rgba(0, 0, 0, 0);
}

.theme-dark .container__590e2 {
	background: rgba(0, 0, 0, 0);
}

.icon_eff5d4 {
	color: rgba(255, 255, 255, .3);
}

.modeUnreadImportant_efb53e .icon_eff5d4, .modeUnreadImportant_efb53e:hover .icon_eff5d4, .modeSelected__487d6 .icon_eff5d4, .modeSelected__487d6:hover .icon_eff5d4 {
	color: rgba(255, 255, 255, .8);
}

.theme-dark .container_ca50b9 {
	background: rgba(0, 0, 0, 0);
}

.panels__58331 {
	background: rgba(0, 0, 0, 0);
}

.container_d667ff {
	background: rgba(0, 0, 0, 0);
	border-bottom: rgba(0, 0, 0, 0);
}

.sectionDivider__68d2a {
	background: rgba(0, 0, 0, 0);
}

.header__77c95 {
	box-shadow: var(--black);
}

.searchBar__621ec {
	box-shadow: var(--black);
}

.theme-dark .container_debb33 {
	background: rgba(0, 0, 0, 0);
}

.quickswitcher_b5bb0a {
	background-color: rgba(0, 0, 0, 0.75);
}	

.theme-dark .panel_bd8c76 {
	background: rgba(0, 0, 0, 0);
}	

/* server list background fix */
.wrapper__216eb {
	background-color: rgba(0, 0, 0, 0.75);
}

/*app bar background fix */
.typeWindows_e41dab {
	background-color: rgba(0, 0, 0, 0.75);
}

.withFrame__5e49e {
	margin-top: 0px;
}

/* top bar background fix */
.icon__4cb88 {
	color: rgba(255, 255, 255, .8);
}

.searchBar__5a20a {
	background: rgba(0, 0, 0, 0.5);
}

.tabBody_a90ea8:before {
	box-shadow: var(--black);
}

.container_f93da8 {
	background-color: rgba(0, 0, 0, 0.75);
}

.messagesPopoutWrap__10dd1 {
	background-color: rgba(0, 0, 0, 0.75);
}	

.container_c96c91 {
	background-color: rgba(0, 0, 0, 0.75);
}

.theme-dark .streamPreview__965fa {
	background-color: rgba(0, 0, 0, 0.9);
}	

/* chat box fix */
.content__01e65:before {
	box-shadow: var(--black);
}

.isUnread__6f880 .content_d67847 {
	color:rgba(120, 130, 255, 1);
}

.divider__855e3 {
	border-top: thin solid rgba(0, 0, 0, 0);
}

.endCap__95d53 {
	color:rgba(0, 0, 0, 1);
}

.mentioned__58017:before {
	background-color: var(--brand-experiment);
}

.theme-dark .footerSeparator__57d95 {
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 1);
}

.theme-dark .contentWarningPopout__7d8c2 {
	background-color: rgba(0, 0, 0, 0.9);
}

.optionPill_f86b98 {
	border: solid 0px transparent;
}

.wrapper_c727b6 {
	background-color: rgba(0, 0, 0, 0.5);
}

.lookFilled__19298.colorPrimary__6ed40 {
	background-color: rgba(0, 0, 0, 0.5);
}	

.metadata__541c7 {
	color: rgba(255, 255, 255, .5);
}

.compactButton__0f247, .compactButtonDisabled_f3bf7b {
	background-color: rgba(0, 0, 0, 0.5);
}

.chat_f8f70f:before {
	box-shadow: var(--black);
}	

.jumpToPresentBar__0ff7f {
	background-color: rgba(0, 0, 0, 0.75);
}

.theme-dark .themed_b152d4 {
	background: rgba(0, 0, 0, 0);
}

.forumOrHome__75784 {
	--__header-bar-background: rgba(0, 0, 0, 0);
}

.container_b181b6 {
	background: rgba(0, 0, 0, 0);
}	

.theme-dark .scrollerContainer_bf5dbd, .theme-dark .emptyPage__3e15d {
	background-color: rgba(0, 0, 0, 0);
}

.embedFull__14919 {
	background: rgba(0, 0, 0, 0.75);
}

.contentWrapper_e0bb2c {
	background-color: rgba(0, 0, 0, 0.75);
}

.wrapper__6bf2d.chatSidebarOpen_f2e544 .callContainer__1477d {
	background-color: rgba(0, 0, 0, 0);
}

.callContainer__1477d {
	background-color: rgba(0, 0, 0, 0);	
}	


/* user side bar background fixes */
.members__9f47b {
	background: rgba(0, 0, 0, 0);
}

.container_e1958d {
	background: rgba(0, 0, 0, 0);
}

.member_b44d5d {
	background: rgba(0, 0, 0, 0);
}

.nowPlayingColumn_f5023f {
	background: rgba(0, 0, 0, 0);
}	

/* settings fixes */
.itemFilled__373d7 {
	background-color: rgba(0, 0, 0, 0.25);
}

.columnHeading_d35d98, .tableCell__23b95 {
	border-bottom: 0px solid hsl(var(--white-500-hsl)/.15)
}

.booleanValueIcon__864e1 {
	color: rgba(255, 255, 255, 1);
}

.theme-dark .subscriptionDetails_a1ad09, .theme-dark .sectionAccountCredit_c94c5d {
	border-bottom: 0px solid hsl(var(--white-500-hsl)/.15)
}

.theme-dark .notches__065e9.gray__4fb3f {
	color:  rgba(0, 0, 0, 0.75);
}	

.theme-dark .progress__2cc1d {
	background-color: rgba(120, 130, 255, 1);
}

.theme-dark .row__7007e {
	box-shadow:inset 0 0px 0 hsl(var(--primary-400-hsl)/.3)
}

.profileColors_ac6ab4 {
	--profile-gradient-primary-color: rgba(0, 0, 0, 0.75);
	--profile-gradient-secondary-color: rgba(0, 0, 0, 0.75);
	--profile-body-background-color: rgba(0, 0, 0, 0);
}

.closeIcon__5363e {
	color:  rgba(255, 255, 255, 0.5);
}

.option__1d8de {
	background-color: rgba(0, 0, 0, 0.75);
}

.theme-dark .footerSeparator__2af8d {
	box-shadow:inset 0 0px 0 hsl(var(--primary-400-hsl)/.3)
}	

/* server settings fix */
.theme-dark .divider__90677 {
	border-top: 0px solid transparent;
}

.theme-dark .emojiRow_db53d4 {
	box-shadow:inset 0 0px 0 hsl(var(--primary-400-hsl)/.3)
}

.uploader__9af74 {
	box-shadow:inset 0 0px 0 hsl(var(--primary-400-hsl)/.3)
}	

.theme-dark .customColorPicker_bbc020 {
	background: rgba(0, 0, 0, 0.9);
}

/* stream background fix */
.callContainer_cbde45 {
	background-color: rgba(0, 0, 0, 0);
}

.wrapper_bd2abe.minimum_ebf000 {
	background-color: rgba(0, 0, 0, 0);
}
.wrapper__6bf2d.chatSidebarOpen_f2e544 .callContainer__1477d {
	color:  rgba(255, 255, 255, 1);
}	

/* browse channels fix */
.theme-dark .container__10dc7, .theme-dark .header__60bef {
	background-color: rgba(0, 0, 0, 0);
}

.theme-dark .container__7590f {
	background-color: rgba(0, 0, 0, 0);
}

.theme-dark .innerHeader_afca2f:after {
	background: rgba(0, 0, 0, 0);
}